.ly-black .ly-type * {
  background-color: #222;
  color: #eee;
}

.ly-black .ly-type,
.ly-black .ly-modal-window {
  border: 1px solid #555;
}

.ly-black .ly-item,
.ly-black .ly-header,
.ly-black .ly-action,
.ly-black .ly-connections .ly-connection {
  border-bottom: 1px solid #555;
}

.ly-type .ly-modal .ly-modal-window {
  border:none;
}

.ly-black .ly-type a:hover .fa,
.ly-black .ly-type a .fa,
.ly-black .ly-type a:hover,
.ly-black .ly-type a {
  color: #FFFA00;
}

.ly-black .ly-connection .ly-label {
background-color: #555;
}

.ly-black .ly-connections .ly-connection * {
  color: #FFFA00;
}

.ly-black .ly-form .ly-field .ly-value,
.ly-black .ly-form .ly-field-top:hover,
.ly-black .ly-form .ly-field-top:hover .ly-value {
  color: #eee;
}

.ly-black .ly-footer .ly-content {
  background-color: #222;
}

.ly-black .ly-modal .ly-modal-backdrop {
background-color: #222;
}

.ly-black .ly-modal .ly-modal-window .ly-header .ly-name {
  color: #eee;
}

.ly-black .ly-modal .ly-modal-window .ly-header {
  background-color: #222;
  color: #eee;
}

.ly-black .ly-connections .ly-description .ly-name {
  color: #eee;
}
